[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NMdata"]
	path = NMdata
	url = https://github.com/nmautoverse/nmdata
[submodule "NMsim"]
	path = NMsim
	url = https://github.com/nmautoverse/nmsim
